# docker_save folder contents
docker_save/*

# pay attention to README.md inside docker_save folder
!docker_save/README.md

# dicom_examples folder contents
dicom_examples/*

# pay attention to DCM_ENHANCED_MR_SURVEY inside dicom_examples folder
!dicom_examples/DCM_ENHANCED_MR_SURVEY
